* {
    margin: 0;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0)
}

/*header*/
header {
    display: flex;
   
    width: 100%;
    height: 130px;
    
    position: relative;
    border-bottom: 1px solid #e4e4e4;

}
header #search-bar {
    justify-self: start;
    position: fixed;
    
    display: flex;
    width: 100%;
    background: white;


}

header div {
    padding: 20px 12px 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
#left-top {
    justify-self: flex-start;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 20px 12px 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
input[type='search'] {
    border: none;
    display: inline-block;
    font: 16px Arial, sans-serif;
    height: 44px;
    outline: none;
    width: 580px;
}
input[type="search" i] {
    appearance: searchfield;
    box-sizing: border-box;
    padding: 1px 2px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none; 
    text-align: start;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
}
form {
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 17px;
    outline: none;
    padding: 0 15px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 632px;
}
button svg {
    fill: #4285f4;
    height: 24px;
    width: 24px;
    
    
}

#logo {
    width: 120px;
    height: 44px;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
}

#right-top {
    justify-self: flex-end;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#google-apps {
    box-sizing: border-box;
    display: inline-block;
    
    margin-right: 15px;
    opacity: 0.55;
    vertical-align: middle;
    
}

#sign-in {
    background: #4285f4;
    background: -moz-linear-gradient(#4387fd, #4683ea);
    background: -webkit-linear-gradient(#4387fd, #4683ea);
    background: linear-gradient(#4387fd, #4683ea);
    border: 1px solid #4285f4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    vertical-align: middle;
    
}
#sign-in:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
a {
    text-decoration: none;
}
#search-bar button {
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    vertical-align: middle;

}

#navbar {
    justify-self: flex-end;
    align-self: flex-end;
    align-items: center;
    display: flex;
    margin-left: 150px;
    width: 632px;
    color: #777;
    
}
#navbar ul {
    align-self: flex-end;
    
}
#navbar ul  li{
    display: inline-block;
}
nav a {
    padding: 10px 15px;
    line-height: 19px;
    text-decoration: none;
    font: 13px Arial, sans-serif;
    border-radius: 2px;
    color: #777;
    line-height: 19px;
    padding: 10px 15px;
    border: 1px solid transparent;
}
.nav-link-selected {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
}

nav a:nth-child(7) {
    margin-left: auto;
}


/*main section */
main {
    margin-left: 120px;
    width: 632px;
    display: block;

}
#result-stats {
    margin-left: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
    padding: 12px 20px;
    color: #777;
    margin-bottom: 10px;
    
    
    
}

main a:visited {
    color: #609;
}
main li {
    list-style: none;
}
.title {
    font-size: 20px;
    line-height: 1.3;
    color: rgb(26, 13, 171);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 4px;
    width: 1000px;
}
.url { 
    font-size: 15px;
    margin-bottom: 6px;
}

.paragraph {
    font-size: 14px;
    color: rgb(77, 81, 86);
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.58;
}
.paragraph em {
    color: #5f6368;
    font-weight: bold;
}
.paragraph span {
    color: #70757a;
}

.card-title {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    
    border-bottom: rgb(223, 220, 220) 2px solid;
    
    
}
.list {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 40px;
    padding-top: 9px;
    border-bottom: rgb(223, 220, 220) 2px solid;
    
    text-align: left;
    
    cursor: pointer;
    line-height: 1.58;
    
}
#list-end {
    border-bottom: none;
}
.whole-list {
    border: rgb(223, 220, 220) 1px solid;
    border-radius: 2px;
    padding: 0;
}

#after-list {
    margin-top: 40px;
}

#related-searches {
    font-size: 20px;
    line-height: 1.3;
    color: #202124;
    font-weight: normal;
    margin-bottom: 0px;
}
#suggestion-container {
    width: 500px;
    height: 250px;
    
    display: flex;

}
#left {
    justify-self: flex-start;
    width: 50%;
}
#suggestion-container li {
    font-weight: bold;
    font-weight: 17px;
    margin: 0 0 0 16px;
    padding-bottom: 30px;
}
#left li {
    font-size: 16px;
} 
#left ul {
    margin-top: 40px;
}












#right {
    justify-self: flex-end;
    width: 50%;

    
}
#right li {
    font-size: 16px;
}
#right ul {
    margin-top: 40px;
}